:root {
    --color-text: #A3A3A3;
    --color-highlight: #B8FF32;
}

html {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

.btn:hover {
    font-size: 1rem;
}

/*Structure*/
#main {
    height: 90%;
    display: flex;
}

#sidebar {
    padding-block: 1px 10px;
    flex-basis: 10%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-text);
}

#main-section {
    flex-basis: 90%;
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

#main-section-header {
    background-color: rgba(0, 0, 0, 0.582);
    height: 10%;
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

#bottom {
    height: 10%;
    background-color: #282828;
}


/*Sidebar*/
#logo-small, #logo-big {
    padding-inline: 10px;
}

#logo-small {
    padding-top: 10px;
}

#logo-big {
    display: none;
    height: 10%;
    width: 80%;
    margin-bottom: 5px;
}

#sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar ul li {
    padding-inline: 10px;
}

#nav {
    margin-bottom: 10px;
}

#sidebar #nav span {
    display: none;
}

#sidebar ul li:first-child {
    color: white;
}

#sidebar #playlist-list {
    display: none;
    gap: 15px;
    overflow: hidden;
}

#playlist-list i {
    font-size: 40px;
}

#sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: auto 0;
    width: 100%;
    padding-inline: 10px;
}

#download a, #profile a {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

#sidebar-bottom img {
    min-width: 5px;
    max-width: 30px;
}

#sidebar-bottom span {
    display: none;
}

#profile img {
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-text);
}

#sidebar-bottom i {
    justify-content: center;
}

#sidebar li:hover, #sidebar-bottom #download:hover {
    color: white;
}

/*Main section*/
#main-section-bottom {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-section-bottom ul {
    color: var(--color-text);
    font-size: 0.8rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main-section-bottom ul li {
    padding: 10px;
}

#main-section-bottom ul li:hover {
    color: white;
}

#main-section-bottom hr {
    border-color: var(--color-highlight);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    margin: 2px auto;
}

#main-section-bottom h3, #main-section-bottom h4 {
    color: white;
    font-weight: 800;
}

#main-section-bottom h4 {
    font-size: 0.9rem;
}

.albums-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.album {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-basis: 48%;
    text-align: center;
}

.album figure {
    position: relative;
}

.album figure > div {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.album figure:hover > div {
    display: flex;
}

.album figure > div i {
    font-size: 3rem;
    color: white;
}

#main-section-bottom span {
    color: var(--color-text);
    font-size: 0.8rem;
}